<script setup>
import { ref, computed } from 'vue'
import { useRoute } from 'vue-router'
import { useRolesStore } from '../stores/roles.js'

const rolesStore = useRolesStore()
const route = useRoute()

console.log(route.query.id)

const role = ref({
  id: route.query.id ? Number(route.query.id) : rolesStore.roles.length + 1,
  name: route.query.name ? route.query.name : '',
  type: route.query.type ? route.query.type : 'admin',
  description: route.query.description ? route.query.description : '',
  editable: route.query.editable ? route.query.editable : false,
  active: route.query.active ? route.query.active : true
})

function createRole() {
  rolesStore.createRole(role.value)
}

function editRole() {
  console.log(role.value)
  rolesStore.editRole(role.value)
}
</script>

<template>
  <main>
    <section class="px-16 py-16 max-w-[1440px] mx-auto">
      <div class="flex items-start max-w-[768px] mx-auto">
        <RouterLink
          to="/"
          class="flex items-start px-6 py-2 bg-[#3eb8c7] text-white uppercase rounded-md"
        >
          Home
        </RouterLink>
      </div>
      <form @submit.prevent="performAction">
        <div
          class="flex flex-col max-w-[768px] mx-auto border-2 border-[#efefef] mt-16 px-8 py-8 rounded-lg"
        >
          <div class="relative border-b-2 border-[#3eb8c7]">
            <p class="text-base">Name</p>
            <input
              label="Name"
              id="name"
              v-model="role.name"
              placeholder="Enter name"
              required
              class="w-full"
            />
          </div>
          <div class="relative border-b-2 border-[#3eb8c7] mt-8">
            <p class="text-base">Type</p>
            <select label="Type" id="type" v-model="role.type" required class="w-full">
              <option value="admin">admin</option>
              <option value="jobadmin">job_admin</option>
            </select>
          </div>
          <div class="relative border-b-2 border-[#3eb8c7] mt-8">
            <p class="text-base">Description</p>
            <input
              label="Description"
              id="description"
              v-model="role.description"
              placeholder="Enter description"
              required
              class="w-full"
            />
          </div>
          <div class="relative border-b-2 border-[#3eb8c7] mt-8">
            <p class="text-base">Editable</p>
            <select label="Editable" id="editable" v-model="role.editable" required class="w-full">
              <option value="true">true</option>
              <option value="false">false</option>
            </select>
          </div>
          <div class="relative border-b-2 border-[#3eb8c7] mt-8">
            <p class="text-base">Active</p>
            <select label="active" id="active" v-model="role.active" required class="w-full">
              <option value="true">true</option>
              <option value="false">false</option>
            </select>
          </div>
          <div class="flex">
            <button
              @click="editRole"
              type="submit"
              class="rounded-lg bg-[#3eb8c7] px-5 py-2.5 text-center text-sm font-medium text-white mt-8"
              v-if="route.query.name !== undefined"
            >
              Save
            </button>
            <button
              @click="createRole"
              type="submit"
              class="rounded-lg bg-[#3eb8c7] px-5 py-2.5 text-center text-sm font-medium text-white mt-8"
              v-else
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </section>
  </main>
</template>
