<script setup>
import { ref, computed } from 'vue'
import { useRolesStore } from '@/stores/roles'
import { RouterLink } from 'vue-router'
import Role from '@/components/Role.vue'

const data = useRolesStore()
let search = ref('')
let filterBy = ref('activeandinactive')

const filteredRecipes = computed(() => {
  let roles = data.roles

  if (search.value != '' && search.value) {
    roles = roles.filter((item) => {
      return item.name.toUpperCase().includes(search.value.toUpperCase())
    })
  }

  if (filterBy.value === 'activeandinactive') {
    return roles
  } else if (filterBy.value === 'active') {
    roles = roles.filter((item) => {
      return item.active === true
    })
  } else if (filterBy.value === 'inactive') {
    roles = roles.filter((item) => {
      return item.active === false
    })
  }

  return roles
})
</script>

<template>
  <main>
    <section class="px-16 py-16 max-w-[1440px] mx-auto">
      <h1 class="text-5xl">User Roles Management</h1>

      <div class="flex flex-col md:flex-row justify-between mt-16">
        <div class="flex items-end">
          <div class="border-b-2 border-b-[#3eb8c7]">
            <input
              class="input input--search text-xl"
              placeholder="search"
              maxlength="50"
              type="search"
              v-model="search"
              required
            />
          </div>
          <div class="relative border-b-2 border-b-[#3eb8c7] ml-8">
            <p class="text-base font-bold">Role status</p>
            <select name="filterBy" id="select" v-model="filterBy">
              <option value="activeandinactive">Active and Inactive</option>
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
          </div>
        </div>
        <RouterLink
          to="/create"
          class="flex items-center px-6 py-2 bg-[#3eb8c7] text-white uppercase rounded-md mt-8 md:mt-0"
        >
          Create new role
        </RouterLink>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 mt-16">
        <Role v-for="role in filteredRecipes" :key="role.id" :role="role"></Role>
      </div>
    </section>
  </main>
</template>
