<script setup>
import moment from 'moment'
import { RouterLink } from 'vue-router'

const props = defineProps({
  role: Object
})
</script>
<template>
  <div class="relative border-[#efefef] border-2">
    <div class="px-8 py-8">
      <button
        type="button"
        class="absolute top-8 right-8 bg-[#FF161A] text-white uppercase rounded-md px-4 py-2"
        v-if="!role.active"
      >
        Inactive
      </button>
      <div class="mt-16">
        <p class="text-3xl">{{ role.name }}</p>
        <p class="text-xl">{{ role.type }}</p>
        <p class="text-base mt-8">{{ role.description }}</p>
        <div class="flex mt-4">
          <div v-for="user in role.users" :key="user.id">
            <img :src="user.photo_url" class="rounded-full" />
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-between bg-[#F8F8F8] px-8 py-4">
      <p>Last update: {{ moment(role.modified_on).format('DD/MM/YYYY') }}</p>
      <div class="flex" v-if="role.editable">
        <RouterLink
          :to="`/create?id=${role.id}&name=${role.name}&type=${role.type}&description=${role.description}&editable=${role.editable}&active=${role.active}`"
          class="uppercase text-lg text-[#505050]"
          >Edit</RouterLink
        >
        <button type="button" class="uppercase text-lg text-[#FF161A] ml-4">Delete</button>
      </div>
      <div v-else>
        <p class="text-base">Not editable</p>
      </div>
    </div>
  </div>
</template>
