@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  white-space: nowrap;
  text-decoration: none;
  border: none;
}

.input--search {
  width: 100%;
  background: transparent;
  color: #efefef;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.input--search::placeholder {
  color: #efefef;
  opacity: 0.6;
  transition: all 0.25s ease-in-out;
}

.input--search:hover.input--search::placeholder,
.input--search:active.input--search::placeholder,
.input--search:focus.input--search::placeholder {
  opacity: 1;
}

input[type='search'] {
  -webkit-appearance: none;
}
